@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Desktop" asp-route-isDesktop="True"><i class="fas fa-desktop" style="font-size:15rem"></i><br />Desktop</a>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Desktop" asp-route-isDesktop="False"><i class="fas fa-laptop" style="font-size:15rem"></i><br />Laptop</a>
</div>
